/* Стили для модального окна */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте (не прокручивается с остальной частью страницы) */
  z-index: 1; /* Слой поверх другого контента */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: none; /* Включить прокрутку, если контент длинный */
  background-color: rgba(0, 0, 0, 0.4); /* Черный фон с прозрачностью */
  animation: fadeIn 0.3s; /* Анимация появления */
  
}

/* Анимация для фона */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Анимация для скрытия */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* Модальное содержимое/блок */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% сверху и по центру */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ширина 80% */
  animation: zoomIn 0.3s; /* Анимация масштабирования */
  width: 450px; 
  height: 420px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

/* Анимация для масштабирования */
@keyframes zoomIn {
  from { transform: scale(0.7); }
  to { transform: scale(1); }
}

/* Кнопка закрытия (x) */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: 30px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Анимация для скрытия модального окна */
.modal.fade-out {
  animation: fadeOut 0.3s;
}
.modal_top{
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.modal_top h3 {
  font-size: 30px;
  margin-bottom: 25px;
}
.modal_bottom{
  width: 100%;
  height: 250px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.modal_bottom  img{
  width: 15px;
  height: 15px;
}
/*  */






















.services{
  width: 100%;
  height: 700px;
  background-color: #352828;
  margin: 60px 0 0;
  border-radius: 25px;
}
.services h2 {
  padding-top: 20px;
  color: #FFCB9A;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

/*  */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 300px;
  justify-content: center;
  margin-top: 70px;
  margin-right: 180px;
}

.card_services {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s, box-shadow 0.5s;
  animation: float 3s ease-in-out infinite;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}

.card_services:hover {
  transform: scale(1.1) rotate(10deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card11 {
  animation-delay: 0s;
}

.card22 {
  animation-delay: 1s;
}

.card33 {
  animation-delay: 2s;
}

@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

.info_cards img {
  width: 45px;
  height: 45px;
}
.info_cards{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  justify-content: center;
}
.info_cards h5{
  font-size: 35px;
  margin-top: 25px;
}

.info_cards button{
  border: none;
  margin-top: 35px;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border: solid 1px #3f2c2c;
}
